*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 100px 0px 100px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 1440;
    height: 68px;
    font-size: 20px;

}

.logo {
    width: 220px;
    height: 56px;
}

ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 56px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

#request {
    margin-top: 10px;
    display: flex;
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
       
}

#request:hover {
    background-color: black;
    color: white;
    transition: 0.7s;
}

.container {
    
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: space-around;
    
}

.texts {
    width: 531px;
    height: 481px;
}

.text1 {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

.text2 {
    padding: 35px 0px 35px 0px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

#button {

    width: 264px;
    height: 68px;
    background-color: #191A23;
    color: #FFF;
    text-align: center;
    border-radius: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    font-family: 'Space Grotesk';
    font-style: normal;
    
}

.b2 > p {
    text-align: center;
    padding-top: 20px;
    
}

.illus {
    width: 600px;
    height: 515px;
}

.company {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 140px;
    filter: saturate(0);
}


.serv {
   
    width: 1064px;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    gap: 40px;
    height: 51px;
    
    
}

.serv > h2 {
    font-size: 40px;
    font-family: 'Space Grotesk';   
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #B9FF66;
    width: 178px;
    height: 51px;
    margin-bottom: 10px;    
        
}

.serv > p {
    text-align: justify;
    width: 580px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.servicesCard {

display: flex;
justify-content: space-between;
flex-direction: column;
width: 1151px;
margin: auto;
}

.ser1 {
    display: flex;
    justify-content: space-around;
    width: 1151px;
    height: 320px;
    margin-bottom: 40px;
    
}

.ser2 {
    display: flex;
    justify-content: space-around;
    width: 1151px;
    height: 320px;
    margin-bottom: 40px;
}

.ser3 {
    display: flex;
    justify-content: space-around;
    width: 1151px;
    height: 320px;
    margin-bottom: 40px;
}

.servcard1{

    width: 535px;
    height: 310px;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    margin-right: 40px;
    
    
}

.servcard2 {
    
    width: 535px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    
}

.servcard3 {

    width: 535px;
    height: 310px;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    margin-right: 40px;
    

}

.servcard4 {

    width: 535px;
    height: 310px;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    

}

.servcard5 {

    width: 535px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    margin-right: 40px;
    


}

.servcard6 {
    width: 535px;
    height: 310px;
    background-color: #000000;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px;
    

}

.servcard1 > .draw1 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard1 > div h1 {
    background-color: #B9FF66;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}


.servcard2 > .draw2 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard2 > div h1 {
    background-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;

}

.servcard3 > .draw3 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard3 > div h1 {
    background-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;

}

#p3 {
    color: #FFF;
}

.servcard4 > .draw4 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard4 > div h1 {
    background-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.servcard5 > .draw5 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard5> div h1 {
    background-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.servcard6 > .draw6 {
    width: 210px;
    height: 170px;
    margin-top: 15px;
   
}

.servcard6> div h1 {
    background-color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Space Grotesk';
    font-weight: 500;
        
}

.position6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

#p6 {
    color: #FFF;
}

.CaseStudies {
   
    margin-top: 140px;
    width: 1064px;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    gap: 40px;
    height: 51px;
    
}


.CaseStudies > h2 {
    font-size: 25px;
    font-family: 'Space Grotesk';   
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #B9FF66;
    width: 178px;
    height: 51px;
    margin-bottom: 10px;    
        
}

.CaseStudies > p {
    text-align: justify;
    width: 580px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.boxCases {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 1151px;
    height: 326px;
    background-color: #191A23;
    border-radius: 45px;


}

.boxContainer {
    background-color: #191A23;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1114px;
    height: 186px;
    
}

.case1, .case2, .case3 {
    background-color: #191A23;
    width: 286px;
    height: 163px;
}

.case2, .case3 {
    border-left: #FFF solid 1px;
    width: 350px;
    height: 163px;
    padding-left: 64px;

}

.case1 {
    display: flex;
    flex-direction: column;
}

.casep1 {
    color: #FFFFFF;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Space Grotesk';
    font-style: normal;
    line-height: 23px;
    padding-left: 30px;
    
}

.casep2 {
    color:#B9FF66;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Space Grotesk';
    font-style: normal;
    line-height: 28px;
    padding-left: 30px;
    
    
}

.casep3-1{
    padding-right: 30px;
    color: #FFFFFF;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Space Grotesk';
    font-style: normal;
    line-height: 23px;
    padding-left: 30px;
}

.our-working-process {

    margin-top: 140px;
    width: 1064px;
    display: flex;
    align-items: start;
    gap: 40px;
    height: 51px;

}

.our-working-process > h2 {

    background-color: #B9FF66;
    padding: 0px 7px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 51px;
}

.our-working-process > p {

    text-align: justify;
    width: 580px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.container-owp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.owp1 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1151px;
    height: 279px;
    background-color: #B9FF66;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
}

.element1 {
    width: 1117px;
    height: 77px;
}

#p-element1 {
    position: absolute;
    justify-content: left;
    margin-left: 60px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

#p-element2 {
    position: absolute;
    margin: 16px 0px 0px 150px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}


#icon-our {
    margin-right: 60px;
}

.content-el1 {
    display: flex;
    justify-content: space-between;
    width: 1117px;
}




.element2 > hr{
    width: 996px;
    border: solid black 1px;
    margin-right: 60px;
    margin-left: 60px;
    
}

.element3 {
    width: 1117px;
    height: 60px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.element3 > p {
    margin-right: 60px;
    margin-left: 60px;
}

.owp2, .owp3, .owp4, .owp5, .owp6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1151px;
    height: 159px;
    background-color: #F3F3F3;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
}

#p-element3, #p-element4, #p-element5, #p-element6 {
    position: absolute;
    margin: 16px 0px 0px 150px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}

/**********fim our working process*******/

.Team {
   
    margin-top: 140px;
    margin-bottom: 80px;
    width: 1064px;
    display: flex;
    align-items: start;
    gap: 40px;
    height: 51px;
    
}


.Team > h2 {
    font-size: 25px;
    font-family: 'Space Grotesk';   
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #B9FF66;
    width: 178px;
    height: 51px;
    margin-bottom: 10px;  
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;  
        
}

.Team > p {
    text-align: justify;
    width: 580px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

/***************início seção cards**********/


.container-team {
    
    margin: auto;
    height: 725px;
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    
}


.card1 {

    margin-bottom: 20px;
    width: 353px;
    height: 831;
    background: #FFFFFF;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
}

.card-element1 {
    
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 352px;
    height: 100px;
}


.card-el2{
    display: flex;
    position: absolute;
    align-items: start;
    flex-direction: column;
    padding-left: 126px;
    padding-top: 30px;
    margin-bottom: 65px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.p-el2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: start;
}



.card-element2 > hr{
   
    border: solid 1px black;
    width: 317px;
    

}
 

.card-element2 {
    
    padding-left: 35px;
    padding-right: 35px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-element3 {
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 63px;
    width: 317px;
    height: 69px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: start ;
}

/*************fim card 1*****************/


#btn-see {
    display: flex;
    justify-content: end;
    width: 1151px;
    height: 68px;
    margin-bottom: 100px;
}


.btn-see-all {

    margin-top: 40px;
    display: flex;
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    background-color: #191A23;
    color: white;
    cursor: pointer;

}

.btn-see-all > p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.testimonials {

    display: flex;
    align-items: start;
    gap: 40px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;  
    margin-bottom: 80px;
}


.testimonials > h2 {
    font-size: 25px;
    font-family: 'Space Grotesk';   
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #B9FF66;
    width: 255px;
    height: 51px;
    margin-bottom: 10px;  
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px; 
        
}

.testimonials > p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    align-items: center;

}

.container-testimonials {

    width: 1151px;
    height: 625px;
    background: #191A23;
    border-radius: 45px;
    column-gap:  50px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: ;
    
    
}


..testimonials-2{
    padding-top: 30px;
}

.testimonials-2 > img {
    padding-top: 10px;
    margin: auto;
    width: 1151px;
}

.testimonials-svg {

    margin: auto;
    padding-bottom: 50px;

}
/*
.testimonials-1, .testimonials-2, .testimonials-3 {
    border: 1px solid #B9FF66;
    border-radius: 45px;
    
    
}

.testimonials-2 {
    width: 570px;
    height: 237px;
    text-align: center;
    color: #FFF;
    
    
}


.testimonials-pai > .forma {
    
width: 1px; 
  height: 1px; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  
  border-top: 30px solid #B9FF66;
  color: #000000;
    
    
}


.testimonials-1 {
    width: 250px;
    height: 237px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: transparent;
}

.testimonials-3 {
    width: 230px;
    height: 237px;
    border-radius: 45px;
    border-bottom-right-radius: 0px ;
    border-top-right-radius: 0px;
    border-right: transparent;

    padding-top: 30px;
    
    
}

.container-testimonials > .testimonials-svg {
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.testimonials-pai {
    display: flex;
    flex-direction: column;
}

.testimonials-pai > .pessoa1 {
    text-align: center;
}

.testimonials-2 > p{
    text-align: center;
    padding: 50px;
    text-align: justify;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    position: absolute;
    top: 5780px;
    width: 590px;
}

.testimonials-id {
    display: flex;
    flex-direction: row;
}

.hr1, .hr2, .hr3 {
    color: #B9FF66;
}

.hr1 {
    width: 68px;
    position: absolute;
    left: 465px;
    top: 5914px;
    border: solid 1px #191A23; ;
}

.hr2 {
    width: 68px;
    transform: rotate(128deg);
    position: absolute;
    left: 480px;
    top: 5941px;
    border: #B9FF66 solid 1px;
   
}

.hr3 {
    width: 68px;
    transform: rotate(-120deg);
    position: absolute;
    left: 445px;
    top: 5941px;
    border: #B9FF66 solid 1px;

}

*/

